* {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(196, 195, 195);
}

.image-holder > img {
  width: 100%;
  border-radius: 3px;
}

.pageTitle-block {
  background-color: #562b81;
  padding: 20px;
}

.cj-title {
  color: white;
  background-color: #562b81;
  font-size: 2rem;
  margin-right: 30px;
}

.entries-tab {
  color: white;
  font-size: 1.4rem;
}

.e-tab {
  background-color: #562b81;
}

#entryTitle {
  width: 100%;
  background-color: honeydew;
  margin-top: 10px;
  margin-bottom: 20px;
  border: gray solid 1px;
  border-radius: 3px;
}

#entryPhotoUrl {
  width: 100%;
  background-color: honeydew;
  margin-top: 10px;
  margin-bottom: 20px;
  border: gray solid 1px;
  border-radius: 3px;
}

#entryNotes {
  width: 100%;
  background-color: honeydew;
  margin-top: 10px;
  margin-bottom: 20px;
  border: #562b81 solid 2px;
  border-radius: 3px;
}

label {
  font-weight: bold;
}

.center {
  margin-bottom: 20px;
}

button {
  background-color: #562b81;
  border: none;
  color: white;
  border-radius: 5px;
  text-align: center;
  height: 35px;
  width: 100px;
}

.last {
  display: flex;
}

.onlySave {
  justify-content: flex-end;
}

.both {
  justify-content: space-between;
}

.deleteLink {
  /* align-self: flex-start; */
}

.entries-top {
  justify-content: space-between;
  margin-top: 25px;
}

.archived-image {
  width: 100%;
  border-radius: 3px;
}

.new-button {
  background-color: #562b81;
  border: none;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding: 12px 25px;
  margin: 10px;
}

.entries-title {
  font-size: 2em;
  font-weight: bold;
  margin-left: 12px;
}

.archived-title {
  display: flex;
  justify-content: space-between;
}

i {
  color: #562b81;
}
